<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">


    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%yellow(%d) [%thread] %highlight(%-5level) - %logger{36} - %m %throwable{full}%n</pattern>
        </encoder>
    </appender>


    <logger name="com.srcsolution.things" level="TRACE"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>